.btn{
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    font-size: 12.8px;
    font-weight: 800;
    
    &--rectangle{
        color:$primary-color;
        padding:  9px 15px;

        &:hover{
            @include hovercolors($secondry-color);
        }
    }
    
    &--rounded{
        color:$dark-color;
        padding: 9px 18px;
        border-radius: 30px;
        border: 2px solid $dark-color;

        &:hover{
            @include hovercolors($dark-color);
        }
    }
}
body{
    background-color: rgb(200, 196, 196);
    margin: 60px;
}