.hamada{
    color:$primary-color;
    background-color:$secondry-color;
    font-family:$fontStyle;
    &:hover{
        @include changeColor();
        // background-color: yellow;
        // color:green;
    }
    & span{
        color:blue;
    }
}

.menna{
    color:$primary-color;
    background-color:$secondry-color;
    border: 2px solid lighten($color: green, $amount: 30);
}

.para{
    background-color: $secondry-color;
    color:$primary-color;
}
.para:hover{
    @include changeColor(aqua,gray);
    // color:gray;
    // background-color: aqua;
}